<html>
    <head>
      <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
      <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
      <div>
        Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <div id ='showTileBoundaries'>
          <label id = label></label>
          <button id = 'on'>On</button>
          <button id = 'off'>Off</button>
        </div>
        <div id ='showCollisionBoxes'>
          <label id = label></label>
          <button id = 'on'>On</button>
          <button id = 'off'>Off</button>
        </div>
        <div id ='showOverdrawInspector'>
          <label id = label></label>
          <button id = 'on'>On</button>
          <button id = 'off'>Off</button>
        </div>
        <div id='map' style='width: 800px; height: 600px;'></div>
        <script>
          var map = new maplibregl.Map({
            container: 'map',
            style: 'https://web3d.basemap.de/maplibre/bm_web_col.json', // stylesheet location
            center: [50.67, 7.1], // starting position [lng, lat]
            zoom: 2, // starting zoom
            maplibreLogo : true,
            });
          
          // Add controls (optional)
          map.addControl(
               new maplibregl.NavigationControl({
                  visualizePitch: true,
                  showZoom: true,
                  showCompass: true
               })
            );
            
          map.addControl(
               new maplibregl.TerrainControl({
                  source: 'terrainSource',
                  exaggeration: 1
               })
            );

          const ids =  ['showTileBoundaries', 'showCollisionBoxes', 'showOverdrawInspector']
          ids.forEach(setEvents)

          function setEvents(id){
            const group = document.getElementById(id);  
            const children = group.children;

            const newDiv = document.createElement("button");

            children.namedItem('label').innerHTML = id;
            children.namedItem('on').addEventListener('click', function(){turnOn(id);}); 
            children.namedItem('off').addEventListener('click', function(){turnOff(id);});  
          }
          

          function turnOn(id) {
            turnOnOrOff(id, true)
          }   
          
          function turnOnOrOff(id, value) {
             map[id] = value;
             //map.showCollisionBoxes = value;
             //map['showOverdrawInspector'] = value;
          }  

          function turnOff(id) {
            turnOnOrOff(id, false)
          }   
  

        </script>
    </body>
</html>