<html>
    <head>
      <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
      <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
      <div>
        Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <div>
          <button id = 'on'>On</button>
          <button id = 'off'>Off</button>
        </div>
        <div id='map' style='width: 800px; height: 600px;'></div>
        <script>
          var map = new maplibregl.Map({
            container: 'map',
            style: 'https://web3d.basemap.de/maplibre/bm_web_col.json', // stylesheet location
            center: [50.67, 7.1], // starting position [lng, lat]
            zoom: 2, // starting zoom
            maplibreLogo : true,
            });
          
          // Add controls (optional)
          map.addControl(
               new maplibregl.NavigationControl({
                  visualizePitch: true,
                  showZoom: true,
                  showCompass: true
               })
            );
            
          map.addControl(
               new maplibregl.TerrainControl({
                  source: 'terrainSource',
                  exaggeration: 1
               })
            );
          on.addEventListener('click', turOn); 
          off.addEventListener('click', turOff);  

          function turOn() {
            turOnOff(true)
          }   
          
          function turOnOff(value) {
             map.showTileBoundaries = value;
             map.showCollisionBoxes = value;
          }  

          function turOff() {
            turOnOff(false)
          }   
  

        </script>
    </body>
</html>